@import "variables.less";
@import "mixins.less";

// Global Components

//MASTERS Course Page
html {
    scroll-behavior: smooth;
}

body {
    -webkit-tap-highlight-color:  rgba(51, 181, 229, 0.4);;
    min-width:300px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    //.body-font;
    .body-custom;
}

p {
    font-size: 14px;
    line-height: 1.75;
    margin:0;
    padding:0;
}

p.large {
    font-size: 16px;
}

.font12 {
    font-size:1.2em;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    //color: @theme-primary;
    color: #334;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken(@theme-primary, 10%);
}

.link-underline {
    text-decoration: underline;color:#2196f3d9;
}

h1, h2, h3, h4, h5, h6 {
    .heading-font;
    font-weight: 900;
}

ul,li {
    padding:0;margin:0;
}
li {list-style: none;}

.view-none { display: none; }

// Global Section Styles

section {
    h2.section-heading {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        .serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
}


 /*** font ***/
 .f-40 {
    font-size: 40px;
}
.f-32 {
    font-size: 32px;
}
.f-24 {
    font-size: 24px;
}
.f-18 {
    font-size: 18px;
}
.f-16 {
    font-size: 16px;
}


.base-desc {
    p {
         margin-top: 40px;
         font-size: 1.3em;
    }
}


@media(min-width:768px) {
    .inner-section {
        padding: 0 0 50px 0 !important;
    }
}


.new-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}

@media(min-width:768px) {
    .new-container {
        width:80%;
        max-width: 1440px;
    }
}

.base-section-height {
    margin: 120px 0px;
}

@media(max-width:768px) {
    .base-section-height {
        margin: 60px 0px;
    }
}

.text-muted { color: @gray-light; }
.text-primary { color: @theme-primary; }
.img-centered { margin: 0 auto; }
.bg-light-gray { background-color: @gray-lighter; }
.bg-darkest-gray { background-color: @gray-darker; }
.skyblue-color { background-color : #6495ed; }
.btn-primary {
    .button-variant(white; @theme-primary; @theme-primary);
    .heading-font;
    font-weight: 700;
}
.btn-xl {
    .button-variant(white; @theme-primary; @theme-primary);
    .heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 20px;
    text-transform: none;
    min-width: 400px;
    box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
    transition: all 0.3s ease;
    color: #fff;
    border: 0.125rem solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin: 0px auto;
    background-color: #0165a1;
    &:hover {
        box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
        border-color: transparent;
        background-color: #008ec7;
    }

}
.btn-customer { height: 100% !important;}


.text-strike {
    text-decoration: line-through;
}


.color-cadetblue { color : #5f9ea0; }

.selected-nav-menu {
    color:#0075d6;
}


.line-short {
    width: 200px;
    height: 2px;
    background-color: @base-liner;
    margin:0 auto;
}

@media (min-width: 768px) {
    .line-short {
        width: 400px;
    }
}

.text-center{
    // padding-left:0;
    // padding-right:0;
    text-align: center;
}

.text-left {
    // padding-left:0;
    // padding-right:0;
    text-align: left;
}

.blue-level-color { color:#274194; }
.white-level-color { color: #aaabb2;}

.base-button {
  border-radius: 28px;
  .body-custom;
  color: #000000;
  font-size: 20px;
  background: #fff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.base-button:hover {
  background: #d4e0ef;
  text-decoration: none;
}

.base-button-blue {
  &:extend(.base-button);
  background: #2f73cf;
  color: #fff;
  font-size: 16px;
}

.base-button-blue:hover {
  background: #4f88df;
  text-decoration: none;
  color:#fff;
}

.dimmed {
    opacity : 0.2;
}

.block-v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn-common {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2982b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  -webkit-box-shadow: 0px 1px 3px #445c78;
  -moz-box-shadow: 0px 1px 3px #445c78;
  box-shadow: 0px 1px 3px #445c78;
  .body-custom;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  &:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
}


.program-title-content {
    font-size: 32px;
    font-weight: bold!important;
    margin-bottom: 60px;
}

.desc-area-margin {
    margin-bottom: 2rem;
}

/**************************** intro-tex *******************************/

header {
    background-image: url('../img/background/main.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 12%;
    .background-cover;
    text-align: center;
    color: white;
    position:relative;
    height: 800px;
    opacity: 0.2;
    transition: all 1.2s;
    &:after {
        content: "";
        background-color :#24272a;
        .background-cover;
        opacity: 0.35;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
    }
    .intro-text {
         position: absolute;
         text-align: right;
         top: 8rem;
         padding: 2.5% 0.5%;
         color: #eee;
         border-radius: 0.8%;
         min-width: 250px;
         z-index: 1;
         width: 100%;
         text-align: center;
         left: 0;
         .intro-lead-in {
            .serif-font;
            font-weight: 500;
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 25px;
            margin: 0px auto;
            .company-name {
                font-weight:900;
            }
        }
        .intro-heading {
            .intro-message {
                margin-bottom: 10px;
            }
            .intro-msg-highlight {
                color: #1e2423
            }
            .heading-font;
            .body-custom;
            font-weight: 700;
            font-size: 5rem; 
            max-width: 1000px;
            margin: 0px auto;
            width: 100%;
        }
    }
}

@media(max-width:1000px) {
    header .intro-text {
        .intro-heading { 
            width:100%;
            line-height: 7.0vw;
            font-size: 4.5vw;
            a {
                margin: 0px auto;
                float: none;
                font-size: 1.3rem;
                width: 80%;
            }
        }
    }
    a.btn-xl {
        max-width: 600px;
    }
}

@media(max-width:748px) {
    header .intro-text .intro-heading { 
        a:nth-of-type(1){
            //margin-right:0; 
        }
    }
}

@media(max-width:480px) {
    header { 
        height: 320px!important;
        .intro-text {
            top: 10%;
        }
    }
    a.btn-xl {
        width: 75%;
        padding: 12px;
        min-width: 200px;
    }
}

// @media(min-width:480px) {
//     header {
//         .intro-text {
//             left : 0%;
//         }
//     }
// }


// @media(min-width:456px) {
//     header {
//         .intro-text {
//             .intro-heading {
//                 font-size: 3.6vw;
//             }
//         }
//     }
// }


// @media(min-width:768px) {
//     header {
//         height: 700px;
//         .intro-text {
//             width:40%;
//             left:10%;
//             .intro-lead-in {
//                 .serif-font;
//                 font-size: 40px;
//                 line-height: 40px;
//                 margin-bottom: 25px;
//                 .company-name {
//                     font-weight:900;
//                 }
//             }
//             .intro-heading {
//                 .heading-font;
//                 font-size: 2.5vw;
//                 line-height: 4.0vw;
//             }
//         }
//     }
// }

// @media(max-width:1000px) {
//     header .intro-text {
//         .intro-heading a.btn-xl {
//             width:91%;
//             font-size: 14px;
//             padding: 10px;
//         }
//     }
// }

// @media(max-width:768px) {
//     header .intro-text {
//         .intro-heading a.btn-xl {
//             width: 94%;
//             font-size: 11px;
//             padding: 5px;
//         }
//     }
// }

/****************************  Navigation Bar **************************/
.navbar-custom {
    background-color: @gray-darker;
    border-color: transparent;
    .navbar-brand {
        color: @theme-primary;
        .script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken(@theme-primary, 10%);
        }
        padding:0px;
        img {
            padding:10px;
            max-width : 70px;
        }
    }
    .navbar-collapse {
        border-color: fade(white, 2%);
    }
    .navbar-toggle {
        background-color: @theme-primary;
        border-color: @theme-primary;
        .heading-font;
        color: white;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: @theme-primary;
        }
    }
    .nav {
        li {
            a {
                .heading-font;
                font-weight: 400;
                letter-spacing: 1px;
                color: white;
                &:hover,
                &:focus {
                    color:#0075d6;;
                    //outline: none;
                }
            }
            a.selected-nav-menu {
                color:#0075d6;
            }
            ul.nav-dropdown {
                position: absolute;
                background-color: rgb(34, 34, 34);
                padding: 20px;
                color: #fff;
                width: 250px;
                display:none;
                opacity:0.9;
                visibility: hidden;
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: @theme-primary;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        //color: white;
        //background-color: darken(@theme-primary, 10%);
    }
}


.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
    //color : #fff;
}

.navbar-custom .nav li a.dimmed-text, .dimmed-text {
    color : #9d9d9d;
}


@media(min-width:768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            padding:0px;
            img {
                padding:0px;
                max-width: 80px;
                position: relative;
                top: -7px;
            }
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
        .nav li ul.nav-dropdown {
            visibility: visible;
            li {
                margin:12px 0px;
                text-align: left;
            }
        }
    }
}

// Navbar Change on Scroll

@media(min-width:768px) {
    .navbar-custom.affix {
        background-color: @gray-darker;
        padding: 10px 0;
        .navbar-brand {
            font-size: 1.5em;
        }
    }
}
/******************************************************/


/********************** footer ************************/

.bd-footer {
    padding: 8rem 0;
    text-align: center;
    background-color: #596a79;
    text-align: left;
    height: 480px;
    color:#fff;
    clear:both;
    a {
        color:#fff;
    }
    >div {
        width: 60%;
        height: 120px;
        margin: 0px auto;
    }
    .footer-top-wrap, .footer-bottom-wrap {
       display: flex;
       flex-flow: row wrap;
       justify-content: space-between;
       align-items: flex-start;
       >div {
        width: 15%;
       }
       .footer-symbol {
            width:50px;
            font-size: 2em;
            font-weight: 900;
            img {
                width: 28px;
                margin-top: 5px;
            }
        }
        .codesquad-icon, .kakao-icon {
            img {
                width : 35px;
            }
        }
        .our-address {
            .footer-symbol {
                height:33px;
            }
        }
       .footer-name {
        font-weight: 800;
        font-size: 1.1em;
        margin-top: 1em;
       }
       .footer-desc {
        margin-top: 10px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        }
    }
    .footer-top-wrap {
        margin-bottom:40px;
    }
    .footer-bottom-wrap{
        margin-top:40px;
    }
    .footer-line-seperator {
        height: 1px;
        background-color: #adafb7;
    }
}

@media (max-width: 1200px) { 
    .bd-footer {
        >div {
            width:80%;
        }
    }
}

@media (max-width: 650px) {
    .bd-footer {
        >div {
            width:92%;
            font-size:0.75em;
        }
    }
}

/******************************************************/



/********* CUSTOME LAYOUT (for masters page) **********/

//Three section layout (images + text)
.base-desc-three{
    margin-bottom: 150px;
    margin-top: 70px;
    padding-top:70px;
    ul.level-wrap {
        margin-top: 50px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        li {
            width: 20%;
            min-width: 200px;
            flex-grow: 1;
            position: relative;
            .level-background  {
                font-size: 8em;
                color: rgba(80, 104, 135, 0.47);
            }
            .img-wrap {
                height: auto;
                width: 100%;
                img {
                    width: 94%;
                    //box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
                }
            }
            .level-desc-wrap {
                position:static;
                margin-top: 30px;
                margin-right: 40px;
                p {
                    font-size:1.2em;
                }
            }
        }
    }
}


@media(max-width:768px) {
    .base-desc-three {
        margin-top:30px;
        margin-bottom: 30px;
    }
}

.base-two {
    display: flex;
    align-items: center;
    flex-flow : row wrap;
    justify-content: flex-start;
    > div {
        width: 40%;
        min-width: 250px;
        flex-grow: 1;
    }
}

.base-three {
    display: flex;
    //align-items: center;
    flex-flow : row wrap;
    justify-content: flex-start;
    > div, >a {
        display: block;
        width: 32.3%;
        min-width: 200px;
        flex-grow: 1;
        margin-right: 1%;
        padding: 30px;
        height: 200px;
        border-radius: 0.5%;
    }
    > div:last-child, >a:last-child {
        margin-right: 0%;
    }
}


/************************ recommendation ***********************/

.multiple-cardui-wrap {
    .recomm-word-wrap  {
        margin-top: 100px;
        >div {
            font-weight: 600;
            width: 100%;
            height: auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
             >div {
                flex-grow: 1;
                width: 33%;
                height: inherit;
                display: flex;
                flex-flow: column;
                justify-content: flex-start;
                align-items: center;
                padding: 4em;
                div:nth-child(2) {
                    margin-top:10px;
                }
                &:hover {
                    background-color: rgba(194, 209, 228, 0.42);
                }
                transition : all 0.1s;
            }
        }
    }
}

@media(max-width:1200px) {
    .multiple-cardui-wrap {
        .recomm-word-wrap  {
            >div {
                font-weight: 600;
                width: 100%;
                >div {
                    padding: 1em;
                }
            }
        }
    }
}

@media(max-width:768px) {
    .multiple-cardui-wrap {
        .recomm-word-wrap  {
            font-size: 1.1em;
            >div {
                margin:0;
                height: auto;
                display: block;
                >div {
                    width : 100%;
                    margin: 0px auto;
                    margin-bottom: 40px;
                }
            }
        }
    }
}




@media (min-width: 768px){
    .col-sm-4 {
        width: 20% !important;
    }
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    //padding-right: 10px;
    //padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.col-xs-30,
.col-sm-30,
.col-md-30,
.col-lg-30 {
    position: relative;
    min-height: 1px;
    //padding-right: 10px;
    //padding-left: 10px;
    text-align: center;
}
.col-xs-30 {
    width: 30%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-30 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-30 {
        width: 30%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-30 {
        width: 30%;
        float: left;
    }
}

.col-sm-5,
{
    position: relative;
    min-height: 1px;
}
.col-xs-5 {
    width: 5%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-5 {
        width: 5%;
        float: left;
    }
}
/******************************************************/


@keyframes restmove{
    0% {
        transform: translate(0,0)
    }

    7.69% {
        transform: translate(0, 10px)
    }

    20% {
        transform: translate(0,0)
    }

    30% {
        transform: translate(0, 10px)
    }

    42.3% {
        transform: translate(0,0)
    }

    53.84% {
        transform: translate(0, 10px)
    }

    65.38% {
        transform: translate(0,0)
    }

    76.92% {
        transform: translate(0, 10px)
    }

    88.46% {
        transform: translate(0,0)
    }

    100% {
        transform: translate(0,0)
    }
}



/************************ schedule table ***********************/
.schedule-newstyle {
    .program-title-content {
        margin-bottom: 60px;
    }
    .sub-desc {
        margin-bottom: 50px;
    }
    .curriculum-wrap {
        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
            caption {
                font-size: 1.5em;
                margin: .5em 0 .75em;
            }
            tr {
                border: 1px solid #ddd;
                padding: .35em;
                background: #282c34;
                color: #fff;
            }
            tr:last-child {
                td:first-child {
                    //font-weight: bold;
                }
            }
            th,
            td {
                padding: 2.0em;
                text-align: center;
                img {
                    width: 80%;
                    border: 1px solid #f2ecec;
                }
                ul>li {
                    text-align: left;
                    list-style: square;
                }
            }
            td:nth-child(1) {
                .f-24;
            }
            th {
                .f-24;
                letter-spacing: .1em;
                text-transform: uppercase;
            }
            th:nth-child(1) {
                width: 20%;
            }
        }
        table.small {
            width :100%;
            margin: 0px auto;
            max-width: 900px;
            td {
                text-align: left;
                padding : 1.5em;
            }
            td {
                .f-18;
                ul>li {
                    .f-18;
                    a, a:visited {
                        color:#fff;
                    }
                }
            }
            td:nth-child(1) {
                padding-left:2.5em;
                width:33%;
            }
            tr:last-child {
                td:nth-child(1) {
                    width: 100%;
                }
            }
        }
        @media screen and (max-width: 660px) {
            table.small {
                width:100%;
                td {
                    text-align: center;
                    padding : 1.5em;
                    .f-18;
                        ul>li {
                            font-size:1.0em;
                            list-style: square;
                        }
                }
                td:nth-child(1) {
                    padding-left:0.5em;
                }
            }
        }
        @media screen and (max-width: 600px) {
            table {
                border: 0;
            }
            table caption {
                font-size: 1.3em;
            }
            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }
            table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: 1.0em;
                text-align: center;
                padding: 0.8em;
                ul>li {
                    list-style-type: none;
                }
            }
            table td:before {
                //content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }
            table td:last-child {
                border-bottom: 0;
            }
            table.small {
                td {
                    ul>li {
                        font-size:0.9em;
                        list-style: square;
                    }
                }
                td:nth-child(1) {
                    text-align: center;
                    width: 100%;
                }
                td:nth-child(2) {
                    padding-left:2em;
                }
            }
        }
    } 
}

