@import "variables.less";
@import "mixins.less";

// Global Components

body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    .body-font;
    
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    //color: @theme-primary;
    color: #334;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken(@theme-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
    .heading-font;
    font-weight: 700;
}


.text-muted { color: @gray-light; }

.text-primary { color: @theme-primary; }

.img-centered { margin: 0 auto; }

.bg-light-gray { background-color: @gray-lighter; }

.bg-darkest-gray { background-color: @gray-darker; }

.skyblue-color { background-color : #6495ed; }

.btn-primary {
    .button-variant(white; @theme-primary; @theme-primary);
    .heading-font;
    font-weight: 700;
}

.btn-xl {
    .button-variant(white; @theme-primary; @theme-primary);
    .heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

.btn-customer { height: 100% !important;        }
