@import "variables.less";
@import "mixins.less";

#masters-level {
	margin-top: 100px;
	margin-bottom: 200px;
	h2 {
		margin-bottom: 100px;
	}

	nav {
		ul {
			display: flex;
			align-items: center;
			flex-flow : row;
			justify-content: flex-start;	
			padding-left: 10px;
			li {
				margin-right: 20px;
				padding-bottom: 2px;
				font-size: 1.3em;
			}
			li.select-highlight {
				border-bottom: 1px solid blue;
			}
		}
	}

	.level-section-wrap {
		overflow: auto;
		margin-top: 20px;
		>section {
			background-color: #dee0de;
			// position:absolute;
			// top:0;
			// left:0;
			ul {
				li {
					float: left;
					width: 50%;
					height: 400px;
					border: 8px solid #ffffff;
					min-width: 273px;
					text-align: left;
					//background-color: #778899;
					background-color: #997790;
					color: #fff;
					h3 {
						padding-left: 10px;
						font-weight: 500;
					}
					p {
						padding: 10px;
						font-size: 1.2em;
					}
				}
			}
		}
	}
}

@media (max-width:606px) {
	#masters-level{
		.level-section-wrap{
			>section {
				ul {
					li {
						width:100%;
					}
				}
			}
		}
	}
}