@import "variables.less";
@import "mixins.less";

.center-emphasis{
   font-size:1.4em;
   text-decoration: underline; 
}

.row .rect-row {
    display: flex;
    justify-content: center;
}

.main-section .course-answer.center-text {
    text-align:center;
}

.ios { background-color:#40e0d0; }
.cs { background-color: #8bc34a; }
.webfe{ background-color: #ff7f50; }
.android{ background-color:#77c159; }
.backend{ background-color: #555; }


#masters_page {
    header {
        background-image: url('../img/masters/masters_main-min.jpg');
    }
    #masters-course {
        li {
            .level-background  {
                font-size: 8em;
                color: rgba(130, 148, 172, 0.47);
            }
            .level-desc-wrap {
                // position: relative;
                // top: -67px;
                margin-bottom: 20px;
            }
        }
        .button-wrap {
            margin-top: 4em;
            .base-button-blue {
                font-size: 20px;
            }
        }
    }

    #overview {
        float: none;
        .section-heading {
             margin-bottom: 140px;
         }
        .course-kind {
            span.level-desc {
                font-size : 0.7em;
                text-align: center;
            }
            button {
                width : 100%;
            }
            img {
                width: 160px;
                height: 250px;
                max-height: 235px;
                max-width: 160px;
            }
            .course-name-summary {
                text-align: center;
            }
        }
        .course-kind.course-level div:first-child img {
            width: 225px;
            max-height: 235px;
            max-width: 250px;
        }
        .course-kind {
            overflow: auto;
            max-width: 2400px;
            margin: 40px auto 60px;
            padding : 0% 4%;
            //margin-left: 50px;
            button {
                width: 200px;
                height: 100px;
                border:0;
                
            }
            .multiple-icon {
                text-align: center;
                font-size: 3em;
                color: #adadb1;
                line-height: 160px;
            }
        }
    }

    #join-program {
        background: #798ca0;
        box-sizing: content-box;
        height: 500px;
        margin: 0;
        display: flex;
        align-items: center;
        color:#fff; 
        .new-container {
            h2,div,p,a {
                margin-bottom:40px;
                text-align: center;
            }
            h2 {
                line-height: 40px;
            }
            a {
                cursor: pointer;
                color:#798ca0;
            }
        }
    }

    #master-introduce {
        overflow: auto;
        .course-master-profile {
            margin-top: 100px;
            .row {
                margin-bottom: 6em;
            }
           .team-member img {
                max-width: 240px;
                border: 5px solid #afafaf;
            }
        }
        .recomm-people img, .team-member img {
            margin: 0 auto;
            border: 7px solid #fff;
        }
        .img-circle {
            border-radius: 50%;
        }
    }
}


@media(max-width:1120px) {
#masters_page {
    #overview {
        .course-kind.course-level {
            img {
                width: 130px;
                height: 191px;
                // max-height: 235px;
                max-width: 130px;
            }
            .glyphicon-arrow-right {
                position: relative;
                left : -12px;
                font-size:35px;
            }
        }
        .course-kind.course-level div:first-child img {
            width: 166px;
            max-width: 166px;
        }
    }
}
}

@media(max-width:1070px) {
    .course-kind {
        div {
            margin-bottom: 3%;
        }
    }
 }


