#schedule-wrap {
	margin-top: 100px;
	.new-container {
		width:768px;
		position: relative;
	}
	.vertical-line {
		width: 2px;
		height: 1000px;
		background-color: gray;
		margin: 100px auto 0;
		position:relative;
		.date-point{
			border-radius: 50%;
			position: absolute;
			left: -7px;
			width: 16px;
			height: 16px;
			background: #fff;
			border: 1px solid gray;
		}
		.date-point:nth-child(1) { top: 0px;}
		.date-point:nth-child(2) { top: 250px;}
		.date-point:nth-child(3) { top: 500px;}
		.date-point:nth-child(4) { top: 750px;}
	}
	ul {
		position: absolute;
		top:150px;
		left:0;
		li {
			position: relative;
			section {
				position:absolute;
				top:0;
				left:0;
				width:200px;
				font-size: 1.8em;
				.plan-date, .plan-name {
					//font-size: 18px;
					font-weight: 700;
				}
				.plan-logo {
					position: relative;
					left:180px;
					img {
						width: 110px;
					}
				}
			}
			section:nth-child(1) {
				left: 50px;
    		text-align: left;
			}
			section:nth-child(2) {
				left: 450px;
				text-align: left;
			}
		}
		li.reverse-date {
			section:nth-child(2) {
				left:600px;
			}
			.plan-date {
				position:relative;
				left:110px;
			}
			.plan-logo {
				left:0px;
			}
		}
		li:nth-child(1) {top:0px;}
		li:nth-child(2) {top:250px;}
		li:nth-child(3) {top:500px;}
		li:nth-child(4) {top:750px;}
	}
}

@media(max-width:768px) {
	#schedule-wrap {
		.new-container {
			width:460px;
			padding:0;
			margin:0 auto;
			ul {
				li {
					section {
						width:120px;
						font-size: 1.2em;
					}
					section:nth-child(1) { left:20px; }
					section:nth-child(2) { left:250px; }
					.plan-logo {
						left: 55px;
					}

				}
			}
		}
	}
}

@media(max-width:480px) {
	#schedule-wrap {
		.new-container {
			width:300px;
			padding:0;
			margin:0 auto;
			ul {
				li {
					section {
						width:120px;
					}
					section:nth-child(1) { left:12px; }
					section:nth-child(2) { left:176px; }
					.plan-logo {
						left: 5px;
						img {
							width:80px;
						}
					}
				}
			}
		}
	}
}



