@import "variables.less";
@import "mixins.less";

@media(max-width:480px) {
    h4 {
        font-size: 26px!important;
    }
}    

#program_page {

    /*** COMMON ***/
    font-size: 16px;
    .base-section-height {
        margin: 140px 0px;
    }

    .program-title-content {
        font-size: 40px!important;
        font-weight: bold!important;
        margin-bottom: 60px;
    }

    .basic-info-wrap {
        padding: 0px;
    }
    .hooking-msg {
        p {
            font-size: 1.4em;
        }
    }
    .hooking-msg-highlight {
        background: #3E606F;
        padding: 50px 0;
        color: #fff;
        font-weight: bold;
        p {
            font-size: 20px!important;
        }
    }

    i.fa {
        margin-right: 1%;
        margin-bottom: 20px;
    }

    @media(max-width:480px) {
        .base-section-height {
            margin: 70px 0px;
        }
        .program-title-content {
            font-size: 32px!important;
        }
        .base-three > div:last-child {
          margin-right: 0%;
        }
        .hooking-msg {
            p {
            font-size: 1.2em;
            }
        }
    }


    /*** HEADER ***/
    header {
        background-image: url('../img/special/tdd_pobi.jpg');
        background-position: center 25%;
        height: 500px;
        &:after{
            background-color: #3e5f6e;
            opacity: 0.65;
        }
        .intro-text { 
            .intro-heading {
                line-height: 3.0vw;
                text-transform: initial;
                span.small-text {
                    font-size: 2.0vw;
                    font-weight: 200;
                }
            }
        }
    }
    @media(max-width:1300px) {
        header .intro-text > .intro-heading {
            width: 100%;
            font-size: 4.7vw;
            line-height: 5.0vw;
            span.small-text {
                font-size: 3.0vw;
                font-weight: 200;
            }
        }

    }
    @media(max-width:480px) {
        header { 
            height: 300px;
            .intro-text > .intro-heading { 
                line-height: 7.5vw;
                font-size: 5.0vw;
                span.small-text {
                    font-size: 5.0vw;
                }
            }
        }
    }



    .basic-info {
        margin-top: -100px;
        .base-two {
            >div {
                height: 250px;
                padding: 15px;
                box-shadow: 4px 4px 15px -3px rgba(0, 0, 0, 0.4);
                ul {
                    line-height: 36px;
                    li{
                        .basic-summary-title {
                            font-weight: bold;
                        }
                        .basic-summary-desc {
                            margin-left: 3%;
                        }
                    }
                }
            }
            >div:nth-child(1) {
                background: #dee1d5;
                border-right: 2px solid #fff;
                text-align: left;
                .program-name {
                    color:#3e5f6e;
                    font-size:3.0vw;
                    font-weight: bold;
                }
            }
            >div:nth-child(2) {
                background: #CBDBD7;
                font-size: 1.5vw;
            }
        }
    }

     // @media(max-width:550px) {
     //    .basic-info .base-two > div:nth-child(1) {

     //    }
     // }

    @media(max-width:550px) {
        .basic-info { 
            margin-top: 0;
            .base-two > div {
                height: auto;
            }
            .base-two > div:nth-child(1) {
                height: 180px;
                border-right: 1px;
                .program-name {
                    font-size: 2.0em;
                    font-weight: bold;
                    line-height: 1.4;
                }
            }
            .base-two > div:nth-child(2) {
                font-size: 0.9em;
                padding: 20px;
                span.basic-summary-desc {
                    float:right;
                }
            }
        }
    }

    @media(min-width:1500px) {
        .basic-info { 
            .base-two > div:nth-child(1) {
                .program-name {
                    font-size:2.3vw;
                }
            }
            .base-two > div:nth-child(2) {
                    font-size: 1.1vw;
            }
        }
    }


    .plan-background {
        margin-top: 110px;
        h3 {
            margin-bottom: 80px;
        }
        .base-three {
            color:#fff;
            font-size: 18px;
            >div {
                background-color: #91AAB4;
                height: 300px;
                box-shadow: 4px 4px 15px -3px rgba(0, 0, 0, 0.4);
                margin-bottom: 2%;
                .why-desc {
                    text-align: left;
                    margin-top: 30px;
                }
            }
        }
    }

    @media(max-width:1000px) {
        .plan-background .base-three > div {
            height: auto;
        }
    }

    @media(max-width:480px) {
        .plan-background {
            .base-three {
                >div {
                    margin-bottom: 2%;
                }
            }
        }
    }


    .program-curriculum {
        .program-title-content {
            margin-bottom: 60px;
        }
        .img-wrap {
            margin:0px auto 70px;
            max-width: 500px;
            img {
                width: 100%;
            }
        }
        .two-one {
           display: flex;
           flex-flow : row wrap;
           justify-content: flex-start;
            >div {
                >h4 {
                    background-color: #91AAB4;
                    padding: 20px;
                    font-size: 20px;
                }
                >ul {
                    >li {
                        background-color: #CBDBD7;
                        margin-bottom: 10px;
                        padding:40px;
                        h4 {
                            font-size: 20px;
                            margin-bottom: 30px;
                        }
                        ul {
                            margin-left: 10%;
                            li {
                                list-style: unset;
                                text-align: left;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            .curriculum-offline {
                flex-grow:1;
                max-width: 66%;
            }
            .curriculum-online {
                margin-left: 10px;
                flex-grow:2;
                max-width: 33%;
                >ul {
                   li  {
                    text-align: left;
                        p{
                            font-size: 16px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    @media(max-width:1023px) {
        .program-curriculum .two-one  {
            .curriculum-offline , .curriculum-online {
                max-width: 100%;
            }
            .curriculum-online {
                margin-top: 10%;
            }
        }
    }

    .lecture-method {
        >h3 {
            margin-bottom: 60px;
        }
        .new-container {
            width: 60%;
        }
        .msg-box {
            margin-bottom: 80px;
        }
    }

    @media(max-width:1100px) {
        .lecture-method .new-container {
            width: 75%;
        }
    }

    @media(max-width:480px) {
        .lecture-method .new-container {
            width: 95%;
        }
    }

    .target-student {
        padding-top: 0px;
        h2 {
            margin-bottom: 60px;
        }
        .new-container {
            >p {
                font-size: 32px;
                text-align: center;
                color:#000;
            }
            ul {
                margin-top: 20px;
                margin-bottom: 20px;
                li {
                    h4 {
                        font-size: 32px;
                        color: #ffffff;
                        font-weight: bold;                    }
                        max-width: 400px;
                        text-align: center;
                        flex-grow:3;
                        padding: 3%;
                        background-color: #91aab4;
                        color:#fff;
                    }
                li.plus-symbol {
                    background-color: #fff;
                    font-size: 100px;
                    color: #90aab4;
                    flex-grow:1;
                    width:1%;
                    text-align: center;
                    min-width: 70px;
                    padding: 0;
                }
                li:not(.plus-symbol) {
                    box-shadow: 2px 2px 10px -4px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }

    @media(max-width:1100px) {
        .target-student {
            .level-wrap {
                li {
                    margin-right: 1%;
                    margin-bottom: 1%;
                }
                li.last-child {
                    margin-right: 0;
                }
                li.plus-symbol {
                    display: none;
                }
            }
        }
    }

    @media(max-width:980px) {
        .target-student {
            .new-container > p {
                font-size: 24px;
                line-height: 1.2;
            }
            ul.level-wrap {
                li  { 
                    h4 {
                        font-size:24px;
                    }
                    p {
                        font-size: 16px;
                    }
                }

            }
        }
    }


    @media(max-width:810px) {
        .target-student .new-container ul li {
            max-width: 100%;
        }
    }

    .program-recommendation {
        background-image: url('../img/special/tdd/pobi_review.jpg');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center 72%;
        .background-cover;
        text-align: center;
        color: white;
        position:relative;
        height: auto;
        opacity: 1;
        padding-top: 35px;
        //transition: all 1.2s;
        &:after {
            content: "";
            background-color :#24272a;
            .background-cover;
            opacity: 0.68;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
        }
        font-size: 16px;
        >div.new-container {
            position:relative;
            z-index: 2;
            h2 {
                margin-bottom: 20px;
            }
             .recomm-word-wrap > .recomm-word-row {
                height: auto;
                > div {
                    padding: 1.2em;
                    line-height: 1.8em;
                    &:hover {
                       background-color:transparent;
                    }
                    .feedback-summary {
                        font-size: 1.2em;
                        font-weight: 800;
                        margin-bottom: 30px;
                    }
                    > div:last-child {
                        margin-top:20px;
                        margin-bottom:20px;
                    }
                }

            }
        }
    }

    @media (max-width: 1150px) {
        .program-recommendation.multiple-cardui-wrap { 
            height: auto;
            div.new-container .recomm-word-wrap  { 
                margin-top: 35px;
                > div { 
                    height: auto;
                    > div {
                        width: 100%;
                        margin: 0px auto;
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }

    @media (max-width: 480px) {
        .program-recommendation { 
            height: 1500px;
            > div.new-container .recomm-word-wrap {
                margin-top: 0px;
                >div {
                    >div {
                        padding: 0;
                        >div {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .tutor-message {
        .one-two {
            display: flex;
            flex-flow : row wrap;
            justify-content: flex-start;
            >div {
              height: 300px; 
            }
            >div:nth-child(1){
                text-align: center;
                font-weight: 200;
                flex-grow:1;
                max-width: 33%;
                img {
                    width:66%;
                    border-radius: 50%;
                }
            }
            >div:nth-child(2){
                margin-left: 10px;
                flex-grow:2;
                max-width: 56%;
                height: auto;
                p {
                    font-size: 1.2em;
                }
            }
        } 
    }

    @media (max-width: 480px) {
        .tutor-message .one-two > div:nth-child(2) {
            p {
                font-size: 1em;
            }
            max-width: 60%;
        }
    }


    .program-payinfo {
        .program-title-content {
            margin-bottom: 60px;
        }
        .one-two {
           display: flex;
           flex-flow : row wrap;
           justify-content: flex-start;
           >div {
              height: 300px; 
           }
           .pay-info{
                font-size: 2.7em;
                font-weight: 200;
                flex-grow:1;
                max-width: 33%;
                background-color:#ccdbd7;
                // line-height: 150px;
                // font-size: 30px;
                span {
                    font-weight: bold;
                }
            }
            .pay-desc{
                margin-left: 10px;
                flex-grow:2;
                max-width: 66%;
                background-color:#dee1d5;
                ul {
                    margin-left: 20px;
                    padding: 20px;
                    text-align: left;
                    li {
                        list-style: unset;
                        margin-bottom: 5px;
                        a {
                            font-size: 16px;
                        }
                    }
                }
                > a {
                    position: relative;
                    top: -5%;
                    font-size:24px;
                    float: right;
                    margin-right: 17%;
                    width: 20%;
                    max-width: 250px;
                    min-width: 135px;
                }
            }
        }
    }

    @media (max-width: 1000px) {
        .program-payinfo {
            .one-two .pay-desc button {
                top: -21%;
                margin-right: 2%;
                font-size: 21px;
                padding: 6px 12px 6px 12px;
            }
        }
    }

    @media (max-width: 886px) {
        .program-payinfo {
            .program-title-content {
            }
            .one-two {
                .pay-info{
                    max-width: 100%;
                    height: 150px;
                }
                .pay-desc{
                    max-width: 100%;
                    margin-left: 0;
                    margin-top: 2%;
                    height: auto;
                    ul {
                        li {
                        }
                    }
                    button {
                        margin-right: 7%;
                    }
                }
            }
        }
    }

    @media (max-width:500px) {
        .program-payinfo .one-two .pay-desc button {
            top:-9%;
        }
    }
}

