
.specialTddJava {
    header {
        background-image: url('../img/special/tdd_pobi.jpg');
    }
}

.specialTddSwiftPage {
    header {
        background-image: url('../img/masters/jk_lecture.jpg');
        background-position: center 50%;
    }
    .basic-info .base-two > div:nth-child(1) {
        background-image: url(/img/special/tdd_swift/swiftbanner.jpg);
    }
}

.special-masteringjs {
    header {
        background-image: url('../img/special/masteringjs_banner.jpg');
        background-position: center 50%;
    }
    .basic-info .base-two > div:nth-child(1) {
        background-image: url(/img/special/masteringjs/masteringjsbanner.jpg);
    }
}

.curriculum-wrap h4 {
    text-transform: initial;
}

.program_page .tutor-message .one-two {
    flex-flow: row;
}